@use "sass:list";

@mixin -font-weight-google-sans($font-weight, $supportedFontWeights) {
  @if not list.index($supportedFontWeights, $font-weight) {
    @error "Invalid font weight used '#{$font-weight}'. Please use one of the supported weights - '#{$supportedFontWeights}'.";
  }

  // Note: If adding any new font weights in here, make sure to also add
  // respective weights to the 'FONT_URL' in 'layout.tsx' file
  @if $font-weight == 400 {
    font-weight: 400;
  } @else if $font-weight == 500 {
    font-weight: 500;
  } @else if $font-weight == 700 {
    font-weight: 700;
  }
}

@mixin type-display {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.2;
}

$-supported-headline-font-weights: 400, 700;

@mixin type-headline($font-weight: 700) {
  @include -font-weight-google-sans(
    $font-weight,
    $-supported-headline-font-weights
  );

  font-size: 20px;
  line-height: 1.2;
}

$-supported-title-font-weights: 500, 700;

@mixin type-title($font-weight: 700) {
  @include -font-weight-google-sans(
    $font-weight,
    $-supported-title-font-weights
  );

  font-size: 16px;
  line-height: 1.4;
}

$-supported-body-font-weights: 400, 500;

@mixin type-body-large($font-weight: 400) {
  @include -font-weight-google-sans(
    $font-weight,
    $-supported-body-font-weights
  );

  font-size: 18px;
  line-height: 1.4;
}

@mixin type-body-medium($font-weight: 400) {
  @include -font-weight-google-sans(
    $font-weight,
    $-supported-body-font-weights
  );

  font-size: 14px;
  line-height: 1.4;
}

@mixin type-body-small($font-weight: 400) {
  @include -font-weight-google-sans(
    $font-weight,
    $-supported-body-font-weights
  );

  font-family: "Google Sans", sans-serif;
  font-size: 10px;
  line-height: 1.4;
}

@mixin type-label-large($has-text-box-trim: true) {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;

  @if $has-text-box-trim {
    text-box: trim-both cap alphabetic;
  }
}

@mixin type-label-medium($has-text-box-trim: true) {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;

  @if $has-text-box-trim {
    text-box: trim-both cap alphabetic;
  }
}

@mixin type-label-small($has-text-box-trim: true) {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.4;

  @if $has-text-box-trim {
    text-box: trim-both cap alphabetic;
  }
}
