@use "~/styles/includes";

@layer base {
  html {
    // Set global default font-family
    font-family: "Google Sans", sans-serif;
  }

  *:focus {
    outline: none;
  }

  *:focus-visible:focus {
    outline: 1.5px solid rgb(var(--color-outline));
    outline-offset: var(--outline-offset);
  }
}
