@use "~/styles/includes";

@layer root {
  :root {
    --shadow-elevated:
      0 1px 3px 1px rgb(var(--color-shadow) / 15%),
      0 1px 2px rgb(var(--color-shadow) / 30%);
    --button-pill-size-small: 27px;
    --button-pill-size-medium: 32px;
    --button-pill-size-large: 34px;
    --button-circle-size-small: 25px;
    --button-circle-size-medium: 28px;
    --button-circle-size-large: 32px;
    --button-circle-size-extra-large: 34px;
    --tag-height: 27px;
    --controls-gutter-outer: 16px;
    --controls-height: var(--button-pill-size-large);
    --tools-gutter-outer: 16px;
    --tools-gutter-inner: 6px;
    --tools-width: calc(
      var(--button-circle-size-large) + var(--tools-gutter-inner) * 2
    );
    --border-radius-large: 28px;
    --border-radius-medium: 16px;
    --border-radius-small: 8px;
    --border-radius-extra-small: 4px;
    --actions-height: calc(var(--button-circle-size-large) + 10px);
  }
}
