.outer-container {
  display: grid;
  overflow: clip;
  background: rgb(var(--color-query-surface-raised));
  border-radius: var(--border-radius-large) var(--border-radius-medium);
  box-shadow: var(--shadow-elevated);
}

.middle-container {
  height: 100%;
  overflow-y: auto;
  overscroll-behavior: none;
  pointer-events: auto;
  scrollbar-width: thin;
}

.inner-container {
  display: grid;
  grid-template-areas: "content close";
  grid-template-columns: 1fr min-content;
  padding-top: 18px;
}

.button-close {
  grid-area: close;
  margin-right: 18px;
}

.content-container {
  display: flex;
  flex-direction: column;
  grid-area: content;
  row-gap: 24px;
  padding: 16px 0 32px 24px;

  .question {
    @include type-body-large(500);

    width: fit-content;
    max-width: 90%;
    min-height: 44px;
    padding: 9px 16px;
    color: rgb(var(--color-query-content-subtle));
    background: rgb(var(--color-query-surface-muted));
    border-radius: 22px;
  }

  .answer {
    @include type-body-large;

    color: rgb(var(--color-query-content-subtle));
    white-space: break-spaces;
  }

  .prompts-container {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    align-items: flex-start;
  }
}
