.outer-container {
  display: grid;
  overflow: clip;
  pointer-events: auto;
  background: rgb(var(--color-query-surface-raised));
  border-radius: var(--border-radius-large);
  box-shadow: var(--shadow-elevated);
}

.middle-container {
  height: 100%;
  overflow-y: auto;
  overscroll-behavior: none;
  pointer-events: auto;
  scrollbar-width: thin;
}

.inner-container {
  display: grid;
  grid-template-areas:
    "content close"
    "notice notice";
  grid-template-columns: 1fr min-content;
  padding-top: 18px;
}

.button-close {
  grid-area: close;
  margin-right: 18px;
}

.content-container {
  display: flex;
  flex-direction: column;
  grid-area: content;
  row-gap: 24px;
  padding: 16px 0 32px 24px;

  .title {
    @include type-display;

    max-width: 420px;
    color: rgb(var(--color-query-content-subtle));
  }

  .description {
    @include type-body-large;

    max-width: 600px;
    color: rgb(var(--color-query-content));
  }

  .question {
    @include type-body-large(500);

    max-width: 600px;
    color: rgb(var(--color-query-content));
  }

  .examples-container {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    align-items: flex-start;
  }
}

.notice-container {
  @include type-body-medium;

  display: flex;
  grid-area: notice;
  column-gap: 4px;
  align-items: center;
  padding: 16px 28px;
  color: rgb(var(--color-query-content));
  background: rgb(var(--color-query-surface-subtle));

  .icon-info {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
  }
}
