.container {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  row-gap: 24px;
  width: 100%;
  padding: 28px 24px 16px;
  pointer-events: auto;
  background: rgb(var(--color-query-surface-raised));
  border-radius: var(--border-radius-large);
  box-shadow: var(--shadow-elevated);
}

.input {
  --max-rows: 4;

  @include type-body-large(500);

  width: 100%;
  max-height: calc(var(--max-rows) * 1lh);
  overflow-y: auto;
  color: rgb(var(--color-query-content));
  field-sizing: content;

  // Support manual resizing if content-based sizing isn't supported
  @supports not (field-sizing: content) {
    resize: vertical;
  }

  &::placeholder {
    color: rgb(var(--color-query-content-subtle));
  }
}

.button-row-container {
  display: flex;

  .tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }

  .button-submit {
    flex-shrink: 0;
    align-self: flex-end;
    margin-left: auto;
  }
}
