.container {
  --row-gap: 22px;

  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  width: 100%;
  padding: 32px 26px 24px;
  pointer-events: auto;
  background: rgb(var(--color-query-surface-raised));
  border-radius: var(--border-radius-large);
  box-shadow: var(--shadow-elevated);
}

.tags-inner-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
  padding-bottom: var(--row-gap);
}

.input {
  --max-rows: 4;

  @include type-label-large(false);

  width: 100%;
  max-height: calc(var(--max-rows) * 1lh);
  overflow-y: auto;
  color: rgb(var(--color-query-content));
  field-sizing: content;

  // Support manual resizing if content-based sizing isn't supported
  @supports not (field-sizing: content) {
    resize: vertical;
  }

  &::placeholder {
    color: rgb(var(--color-query-content-subtle));
  }
}

.button-submit {
  align-self: flex-end;
  margin-top: var(--row-gap);
}
