.container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr min-content;
  gap: 8px;
  width: 100%;
  padding: 18px 24px;
  overflow: clip;
  pointer-events: auto;
  background: rgb(var(--color-query-surface-raised));
  border: 1px solid rgb(var(--color-query-surface-muted));
  border-radius: var(--border-radius-large) var(--border-radius-medium);

  @include pulsing-background;
}

.prompt-value {
  @include type-body-large(500);

  grid-row: 1;
  grid-column: 1 / span 2;
  color: rgb(var(--color-query-content-subtle));
}

.indicator-message {
  @include type-body-medium(400);

  display: flex;
  grid-row: 2;
  grid-column: 1;
  gap: 8px;
  align-items: center;
  color: rgb(var(--color-query-content-dimmed));
}

.button-cancel {
  grid-row: 2;
  grid-column: 2;
  align-self: flex-end;
}
