.container {
  display: grid;
  grid-template-columns: 1fr min-content;
  gap: 28px 16px;
  width: 100%;
  padding: 26px 24px;
  pointer-events: auto;
  background: rgb(var(--color-query-surface-subtle));
  border-radius: var(--border-radius-large) var(--border-radius-medium)
    var(--border-radius-medium);
  box-shadow: var(--shadow-elevated);
}

.prompt-value {
  @include type-body-large(500);

  grid-row: 1;
  grid-column: 1 / span 2;
  color: rgb(var(--color-query-content-subtle));
}

.indicator-message {
  @include type-body-medium(400);

  grid-row: 2;
  grid-column: 1;
  color: rgb(var(--color-query-content-dimmed));
}

.button-cancel {
  grid-row: 2;
  grid-column: 2;
  align-self: flex-end;
}
