.menu {
  --menu-padding: 20px;

  right: 0;
  display: flex;
  flex-direction: column;
  width: 370px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  padding-inline: var(--menu-padding);

  .title {
    @include type-title(500);

    color: rgb(var(--color-control-content));
  }

  .button-close {
    margin: -4px -10px -4px 0;
  }
}

.content-container {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 0 var(--menu-padding) var(--menu-padding);

  .description {
    @include type-body-small;

    color: rgb(var(--color-control-content-muted));
  }

  .button-browse {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px 20px;
    background: rgb(var(--color-control-surface-raised));
    border-radius: var(--border-radius-small);

    @include hover {
      .browse-label {
        text-decoration: underline;
      }
    }

    &[data-is-dragging-over="true"] {
      outline: 1px dashed rgb(var(--color-control-accent));
      outline-offset: -2px;

      // Prevent children from firing events while dragging over button
      > .icon-import,
      > .browse-label,
      > .browse-format {
        pointer-events: none;
      }
    }

    .icon-import {
      width: 24px;
      height: 24px;
      color: rgb(var(--color-control-accent));
    }

    .browse-label {
      @include type-body-medium(500);

      margin-top: 8px;
      color: rgb(var(--color-control-accent));
    }

    .browse-format {
      @include type-body-small;

      color: rgb(var(--color-control-content-muted));
    }
  }
}
