.container {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  border: 1.5px solid rgb(var(--color-control-accent));
  border-radius: var(--border-radius-small);
  transform-origin: top left;
}

.actions-container {
  position: absolute;
  top: 0;
  left: 50%;
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
  height: var(--actions-height);
  padding: 0 40px;
  pointer-events: auto;
  background: rgb(var(--color-control-accent));
  border-radius: var(--border-radius-medium);
  box-shadow: var(--shadow-elevated);

  // Center horizontally and straddle the selection's top edge
  transform: translate(-50%, -50%);

  &:active {
    // Note: This matches TLDraw dragging cursor
    cursor: all-scroll;
  }
}
