.header-container {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-bottom: 20px;
  color: rgb(var(--color-card-content));
}

.title {
  @include type-title;
}

.description {
  @include type-body;
}
