.tabs-container {
  display: flex;
  flex-shrink: 0;
  border-bottom: 1px solid rgb(var(--color-card-divider));
}

.tab {
  @include type-label-small;

  display: flex;
  gap: 4px;
  align-items: center;
  padding: 4px 12px 4px 8px;
  color: rgb(var(--color-card-content-muted));
  border-bottom: 1px solid transparent;

  @include prefers-motion {
    transition-timing-function: $ease-linear;
    transition-duration: 0.2s;
    transition-property: color, border-bottom-color;
  }

  &[data-is-active="true"] {
    color: rgb(var(--color-card-surface-selected));
    border-bottom-color: rgb(var(--color-card-surface-selected));
  }

  @include hover {
    &[data-is-active="false"] {
      color: rgb(var(--color-card-surface-selected));
    }
  }
}

.icon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
}

.panel {
  &:has(table) {
    overflow-y: auto;

    thead {
      position: sticky;
      top: 0;
      z-index: 1;
    }
  }
}
