.container {
  display: flex;
  flex-direction: column;
}

.table {
  @include type-label-small;

  width: 100%;
  margin-bottom: 16px;
  text-align: left;

  tr {
    &:nth-child(even) {
      background-color: rgb(var(--color-card-table-row-even));
    }

    &:nth-child(odd) {
      background-color: rgb(var(--color-card-table-row-odd));
    }
  }
}

.table th,
.table td {
  padding: 4px 8px;
}

.table th {
  padding-top: 17px;
  background-color: rgb(var(--color-card-table-head));
  box-shadow: inset 0 -1px 0 rgb(var(--color-card-border-divider));
}

.table.is-multi {
  th {
    padding-top: 4px;
  }

  .place-name {
    @include type-label-medium(false);

    padding: 17px 8px 8px;
    font-weight: 700;
    text-align: left;
    background-color: rgb(var(--color-card-table-head));
    box-shadow: inset 0 -1px 0 rgb(var(--color-card-border-divider));
  }
}
