.container {
  position: relative;
  display: flex;
  flex-shrink: 0;
  gap: 8px;
  margin-block: 12px;
}

.prefix {
  @include type-label-small;

  display: flex;
  flex-shrink: 0;
  gap: 0;
  align-items: flex-start;
  font-weight: 500;
  color: rgb(var(--color-card-content-muted));
}

.label {
  @include type-label-small;

  color: rgb(var(--color-card-content-muted));
}

.trigger {
  @include type-label-small;

  display: inline-flex;
  gap: 4px;
  align-items: center;
  padding: 0;
  font-weight: 500;
  color: rgb(var(--color-card-base-selected));
  cursor: pointer;
  background: none;
  border: none;
}

.arrow {
  flex-shrink: 0;
  place-self: start;
  font-size: 14px;
  line-height: 16.4px;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  width: 100%;
  min-width: 280px;
  margin-top: 4px;
  overflow: hidden;
  background: rgb(var(--color-card-surface));
  border-radius: var(--border-radius-small);
  box-shadow: var(--shadow-elevated);
}

.option {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  padding: 8px 12px;
  text-align: left;
  cursor: pointer;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgb(var(--color-surface-decorator));

  &:last-child {
    border-bottom: none;
  }

  &[data-is-selected="true"] {
    background: rgb(var(--color-control-accent) / 12%);
  }

  &:not([data-is-selected="true"]) {
    @include hover {
      background: rgb(var(--color-control-accent) / 6%);
    }
  }
}

.option-source {
  @include type-label-small;

  font-weight: 500;
  color: rgb(var(--color-card-content));
}

.option-meta {
  @include type-label-small;

  color: rgb(var(--color-card-content-muted));
}
