.container {
  position: relative;
  display: grid;
  flex-shrink: 0;
  gap: 8px;
  margin-block: 18px;
  color: rgb(var(--color-select-content));
  background: rgb(var(--color-select-surface));
  border-radius: var(--border-radius-extra-small);
  box-shadow: 0 0 0 1px rgb(var(--color-select-border));
}

.prefix {
  @include type-body-small;

  display: flex;
  flex-shrink: 0;
  grid-area: 1 / 1;
  gap: 0;
  place-self: start;
  align-items: flex-start;
  font-weight: 500;
  color: rgb(var(--color-select-prefix));
  background: rgb(var(--color-select-surface));
  box-shadow: 0 0 0 3px rgb(var(--color-select-surface));
  transform: translate(16px, -50%);
}

.label {
  @include type-body-medium;

  display: flex;
  grid-area: 1 / 1;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 12px 16px;
}
