.tooltip {
  @include type-label-medium(false);

  padding: 10px 12px;
  font-weight: 700;
  color: rgb(var(--color-card-content));
  background-color: rgb(var(--color-card-surface));
  border-radius: 8px;
  box-shadow: var(--shadow-elevated);

  p {
    margin: 0;
  }

  .label {
    @include type-label-small(false);

    margin-bottom: 4px;
  }

  .entry {
    display: flex;
    gap: 6px;
    align-items: center;

    & + & {
      margin-top: 2px;
    }
  }

  .swatch {
    flex-shrink: 0;
    width: 8px;
    height: 8px;
    border-radius: 2px;
  }

  .name {
    @include type-label-small;

    color: rgb(var(--color-card-content-muted));
  }

  .value {
    @include type-label-large;
  }
}
