.tooltip {
  @include type-label-medium(false);

  padding: 10px 12px;
  font-weight: 700;
  color: rgb(var(--color-card-content));
  background-color: rgb(var(--color-card-surface));
  border-radius: 8px;
  box-shadow: var(--shadow-elevated);

  p {
    margin: 0;
  }

  .label {
    @include type-label-small(false);

    margin-bottom: 2px;
    color: rgb(var(--color-card-chart-tooltip-date));
  }
}
