.container {
  position: absolute;
  top: var(--controls-gutter-outer);
  right: var(--controls-gutter-outer);
  display: flex;
  column-gap: var(--controls-gutter-outer);
  align-items: center;
  pointer-events: auto;
}
