.container {
  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: space-between;
  height: var(--controls-height);
  padding: 0 5px;
  color: rgb(var(--color-control-accent));
  background: rgb(var(--color-control-surface));
  border-radius: calc(var(--controls-height) / 2);
  box-shadow: var(--shadow-elevated);

  .divider {
    width: 1px;
    height: var(--button-circle-size-medium);
    background: rgb(var(--color-control-divider));
  }
}
