.container {
  position: absolute;
  top: 200px;
  right: var(--tools-gutter-outer);
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  align-items: center;
  width: var(--tools-width);
  padding: var(--tools-gutter-inner);
  pointer-events: auto;
  background: rgb(var(--color-control-surface));
  border-radius: calc(var(--tools-width) / 2);
  box-shadow: var(--shadow-elevated);
}
