.container {
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: center;
  color: rgb(var(--color-button-content));
  background: rgb(var(--color-button-base));

  &[data-shape="pill"] {
    height: 28px;
    padding-inline: 12px 16px;
    border-radius: 14px;
  }

  &[data-shape="square"] {
    width: 40px;
    height: 40px;
    border-radius: 20px;
  }

  @include prefers-motion {
    transition-timing-function: $ease-linear;
    transition-duration: 0.2s;
    transition-property: color, background;
  }

  @include hover {
    color: rgb(var(--color-button-content-hover));
    background: rgb(var(--color-button-base-hover));
  }
}

.icon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
}

.children {
  @include type-label;
}
