.indicator {
  position: relative;
  display: grid;
  flex-shrink: 0;
  place-items: center;
  width: 14px;
  height: 14px;
  margin-top: 3px;
  background: rgb(var(--color-surface-decorator));
  border: 1px solid rgb(var(--color-card-content-dimmed));
  border-radius: 50%;

  @include prefers-motion {
    transition:
      background 0.2s $ease-linear,
      border-color 0.2s $ease-linear;
  }

  &::after {
    grid-area: 1 / 1;
    width: 7px;
    height: 7px;
    content: "";
    background: rgb(var(--color-control-content));
    border-radius: 50%;
    opacity: 0;

    @include prefers-motion {
      transition: opacity 0.2s $ease-linear;
    }
  }
}

.input {
  @include screen-reader-only;

  &:checked + .indicator {
    background: rgb(var(--color-control-surface-raised));
    border-color: rgb(var(--color-control-content));

    &::after {
      opacity: 1;
    }
  }

  &:focus-visible:focus + .indicator {
    outline: 1px dashed currentcolor;
    outline-offset: var(--outline-offset);
  }
}

.container {
  display: flex;
  column-gap: 8px;
  align-items: flex-start;

  @include hover {
    .input:not(:disabled, :checked) + .indicator {
      background: rgb(var(--color-control-surface));
    }
  }
}
