.container {
  display: flex;
  column-gap: 8px;
  align-items: center;
  height: var(--tag-height);

  // Note: The extra 1px here accounts for the 1px border
  padding-inline: 12px
    calc((var(--tag-height) - var(--button-circle-size-extra-small)) / 2 - 1px);
  color: rgb(var(--color-tag-content));
  border: 1px solid rgb(var(--color-tag-border));
  border-radius: 14px;
  box-shadow: var(--shadow-subtle);
}

.label {
  @include type-label-small;
}
