.container {
  display: flex;
  column-gap: 8px;
  align-items: center;
  min-height: var(--tag-height);
  padding: 8px 12px;
  color: rgb(var(--color-tag-content));
  border: 1px solid rgb(var(--color-tag-border));
  border-radius: 14px;
}

.label {
  @include type-label-small;
}
