.container {
  --corner-size: 16px;
  --border-thickness: 2px;

  display: grid;
  height: 100%;
}

.actions-container {
  display: flex;
  grid-area: 1 / 1;
  gap: 6px;
  align-items: center;
  justify-content: center;
  height: calc(var(--actions-height) + var(--corner-size));
  padding-bottom: calc(var(--corner-size) - var(--border-thickness));
  margin: var(--actions-height) 2px 0;
  background: rgb(var(--color-card-surface-selected));
  border-radius: var(--corner-size) var(--corner-size) 0 0;
  box-shadow: var(--shadow-elevated);

  @include prefers-motion {
    transition: transform 0.5s $ease-out;
  }

  :is([data-selection="single"]) & {
    transform: translateY(calc(var(--actions-height) * -1));
  }
}

.children-container {
  display: flex;
  flex-direction: column;
  grid-area: 1 / 1;
  height: fit-content;
  max-height: 100%;
  overflow-y: auto;
  background: rgb(var(--color-card-surface));
  border: var(--border-thickness) solid transparent;
  border-radius: var(--corner-size);
  box-shadow: var(--shadow-elevated);

  @include prefers-motion {
    transition:
      transform 0.5s $ease-out,
      border-color 0.1s $ease-linear;
  }

  :is([data-selection="single"], [data-selection="multiple"]) & {
    border-color: rgb(var(--color-card-surface-selected));
  }

  :is([data-selection="single"]) & {
    transform: translateY(var(--actions-height));
  }
}
