.title {
  @include type-headline;

  color: rgb(var(--color-card-content));
}

.body {
  @include type-body-medium;

  color: rgb(var(--color-card-content));

  h3 {
    @include type-title;

    color: rgb(var(--color-card-content));
  }

  ul {
    padding-left: 20px;
    list-style: disc;
  }

  a,
  button {
    color: rgb(var(--color-control-accent));
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  table {
    width: 100%;
    text-align: left;
    border-collapse: separate;
    border: 1px solid rgb(var(--color-card-border-divider));
    border-radius: 4px;
  }

  th,
  td {
    padding: 12px 16px;
    vertical-align: top;
    border-bottom: 1px solid rgb(var(--color-card-border-divider));
  }

  tbody tr:last-child {
    th,
    td {
      border-bottom: none;
    }
  }

  th {
    font-weight: 500;
    color: rgb(var(--color-card-content-muted));
  }

  strong {
    font-weight: 500;
  }

  p,
  ul,
  table {
    &:not(:first-child) {
      margin-top: 12px;
    }
  }

  h3:not(:first-child) {
    margin-top: 24px;

    + p,
    + ul,
    + table {
      margin-top: 8px;
    }
  }

  li:not(:first-child) {
    margin-top: 8px;
  }
}
