.container {
  display: flex;
  flex-direction: column;
  padding-top: var(--menu-padding);
  border-top: 1px solid rgb(var(--color-control-divider));
}

.fieldset-container {
  margin-bottom: var(--menu-padding);
}

.options-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  justify-content: space-between;
}

.canvas-container {
  display: flex;
  flex-direction: column;
  row-gap: var(--menu-padding);
  padding-top: var(--menu-padding);
  margin-top: var(--menu-padding);
  border-top: 1px solid rgb(var(--color-control-divider));
}

.option-container {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  &[data-has-max-width="true"] {
    width: 140px;
  }

  .option-title {
    @include type-body-medium(500);

    color: rgb(var(--color-control-content));
  }

  .option-description {
    @include type-body-small;

    color: rgb(var(--color-control-content-muted));
  }
}
