.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 148px;
  padding: 8px 20px;
  text-align: center;
  background: rgb(var(--color-control-surface-raised));
  border-radius: var(--border-radius-small);

  .icon-status {
    width: 24px;
    height: 24px;
    color: rgb(var(--color-control-content));
  }

  .card-title {
    @include type-title(500);

    margin-top: 8px;
    color: rgb(var(--color-control-content));
  }

  .card-description {
    @include type-body-medium;

    color: rgb(var(--color-control-content-muted));
  }

  .button-select-all {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;

    @include hover {
      text-decoration: underline;
    }

    .select-all-label {
      @include type-body-medium(500);

      color: rgb(var(--color-control-content));
    }

    .select-all-keys {
      @include type-body-medium;

      color: rgb(var(--color-control-content-muted));
    }
  }
}

.preview-container {
  display: flex;
  flex-direction: column;
  margin-top: var(--menu-padding);

  .preview-title {
    @include type-title(500);

    padding-bottom: 8px;
    color: rgb(var(--color-control-content-muted));
    border-bottom: 1px solid rgb(var(--color-surface-decorator));
  }

  .options-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 16px;
    justify-content: space-between;
    margin-top: 18px;

    .option-container {
      display: flex;
      flex-direction: column;
      row-gap: 8px;
      width: 140px;

      .option-title {
        @include type-body-medium(500);

        color: rgb(var(--color-control-content));
      }

      .option-description {
        @include type-body-small;

        color: rgb(var(--color-control-content-muted));
      }
    }
  }
}
